@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}



body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  :root  {
    --background: 278 100% 95%;
    --foreground: 278 5% 10%;
    --card: 278 50% 90%;
    --card-foreground: 278 5% 15%;
    --popover: 278 100% 95%;
    --popover-foreground: 278 100% 10%;
    --primary: 278 41% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 278 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 240 30% 85%;
    --muted-foreground: 278 5% 35%;
    --accent: 240 30% 80%;
    --accent-foreground: 278 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 278 5% 90%;
    --border: 278 30% 50%;
    --input: 278 30% 26%;
    --ring: 278 41% 34%;
    --radius: 1rem;
  }
  .dark  {
    --background: 278 50% 10%;
    --foreground: 278 5% 90%;
    --card: 278 50% 10%;
    --card-foreground: 278 5% 90%;
    --popover: 278 50% 5%;
    --popover-foreground: 278 5% 90%;
    --primary: 278 41% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 278 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 30% 25%;
    --muted-foreground: 278 5% 60%;
    --accent: 240 30% 25%;
    --accent-foreground: 278 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 278 5% 90%;
    --border: 278 30% 26%;
    --input: 278 30% 26%;
    --ring: 278 41% 34%;
    --radius: 1rem;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}